.footer {
    background-color: $color-dark-blue;
    padding: 20px 0;



    .container {
        display: flex;

        @include mobile {
            flex-direction: column;
        }
    }

    &__nav {
        display: flex;
        padding-left: 20px;
        align-self: center;

        @include mobile {
            flex-direction: column;
            padding-top: 30px;
        }

        li {
            padding: 0 20px;

            @include mobile {
                flex-direction: column;
                padding-bottom: 25px;
                text-align: center;
            }

            a {
                color: white;
                font-size: 12px;
                letter-spacing: 4px;

                &:hover {
                    color: $color-main-red;
                }
            }
        }
    }

    &__logo {
        display: flex;
        align-items: center;

        @include mobile {
            justify-content: center;
        }
    }

    path {
        fill: white;
    }
}